*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
   width: 100vw;
   height: 100vh;
   background: linear-gradient(black, lightgrey);
}

/* SEARCH BAR */
#searchBar{
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid white;
   background-color: black;
}
#logo{
   margin-left: 50px;
}
#logo h2{
   font-size: 40px;
   color: red;
}
#searchInstruments{
   margin-right: 50px;
}
#searchInstruments *{
   height: 30px;
   padding: 5px 10px;
}
#searchInstruments #inputSearch{
   width: 300px;
   outline: none;
   border-style: none;
   border-radius: 5px;
}
#searchInstruments #searchButton{
   border-radius: 5px;
   border-style: none;
   outline: none;
   cursor: pointer;
   transition: all 1s ease;
}
#searchInstruments #searchButton:hover{
   background-color: #ffda70;
}
/* RESULT LIST */
main{
   height: calc(100% - 80px);
   overflow-y: auto;
}
.list-info{
   height: 100%;
   display: flex;
   align-items: center;
   overflow-x: auto;
}
/* container of the poster with data inside */
.poster-cnt{
   margin: 0 50px;
   position: relative;
   transition: 0.5s ease;

}
.poster-cnt:hover{
   transform: scale(1.2, 1.2);

}
.poster-cnt .poster-img{
   border: 1px solid white;
   transition: 0.5s ease;
   display: block;
}
.image-rotate{
   transform: rotateY(180deg);
}
/* class assigned to stars */
.colored{
   color: yellow;
}
.overlay{
   position: absolute;
   top: 0;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.9);
   display: none;
}
.movie_tv-infos{
   color: white;
   padding: 10px;

   /* display: none; */
}
.movie_tv-infos .list-item{
   padding: 10px 0;
   /* display: flex;
   align-items: center; */
}
/* specify width for flags icons */
.movie_tv-infos .list-item .flags img{
   width: 35px;
}
