*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
   width: 100vw;
   height: 100vh;
   background: linear-gradient(black, lightgrey);
}

/* SEARCH BAR */
#searchBar{
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid white;
}
#logo{
   margin-left: 50px;
}
#logo h2{
   font-size: 40px;
   color: red;
}
#searchInstruments{
   margin-right: 50px;
}
#searchInstruments *{
   height: 30px;
   padding: 5px 10px;
}
#searchInstruments #inputSearch{
   width: 300px;
}
#searchInstruments #searchButton{
   border-radius: 5px;
   border-style: none;
   outline: none;
   cursor: pointer;
   transition: all 1s ease;
}
#searchInstruments #searchButton:hover{
   background-color: #ffda70;
}
/* RESULT LIST */
main{
   height: calc(100% - 80px);
   overflow-y: auto;
}
.list-info{
   height: 100%;
   display: flex;
   align-items: center;
   overflow-x: auto;
}
.movie_tv-infos{
   color: white;
   padding: 10px;
   position: absolute;
   top: 0;
}
.poster-cnt{
   margin: 0 50px;
   position: relative;
}
.colored{
   color: yellow;
}
.movie_tv-infos .list-item{
   padding: 10px 0;
   display: flex;
   align-items: center;
}
.movie_tv-infos .list-item .flags img{
   width: 35px;
}
.movie_tv-infos .list-item .poster-img{
   border: 1px solid white;
}
